
.Wrap {
    padding: 30px 0 90px;
    background-color:cornflowerblue;
  }
  @media all and (min-width: 1024px) {
    .Wrap {
      padding: 30px 0;
    }
  }
  .Copyright {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
    text-align: left;
    color:white;
  }
  @media all and (min-width: 768px) {
    .Copyright {
      gap: 0.5rem;
      font-size: 16px;
    }
  }
  
  
  .GitHubLink:hover,
  .GitHubLink:focus {
    color: rgba(0, 60, 103, 0.6);
  }
  